<%- include('includes/header.ejs') %>

    <div class="jumbotron jumbotron-fluid bg-secondary text-light">
        <div class="container text-center">
            <h1 class="display-2">Moc Meetup</h1>
            <p>Find free classrooms during your desired meeting time!</p>
        </div>
    </div>
    <div class="container">
        <!-- Building select -->
        <div class="row pt-5 justify-content-center">
            <div class="col-7">
                <select id="buildingSelect" class="form-select form-control" aria-label="Select building to search by">
                    <option selected>Select a building</option>
                    <% for(let buildingName of buildings){ %>
                        <option value="<%= buildingName %>"><%= buildingName %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <!-- Day select -->
        <div class="row justify-content-center">
            <div class="col-7">
                <select id="daySelect" class="form-select form-control" aria-label="Select day of the week to search on">
                    <option selected>Select a day of the week</option>
                    <option value="M">Monday</option>
                    <option value="T">Tuesday</option>
                    <option value="W">Wednesday</option>
                    <option value="H">Thursday</option>
                    <option value="F">Friday</option>
                </select>
            </div>
        </div>
        <!-- Time select -->
        <div class="row justify-content-center">
            <div class="col-3"><input type="time" class="form-control" id="startTime" value="14:00" /></div>
            <div class="col-1 text-center align-self-center">to</div>
            <div class="col-3"><input type="time" class="form-control" id="endTime" value="15:00" /></div>
        </div>
        <div class="row pb-5 justify-content-center">
            <div class="col-7"><button id="classSearch" class="btn-secondary form-control" type="button"><i class="fa fa-search"></i></button></div>
        </div>

        <!--- Print Datatable --->
        <div class="row justify-content-around">
            <div class="col-10 border border-3 border-warning rounded classBox">
                <table id="searchTable" class="table grid">
                    <thead class="text-center">
                    <tr>
                        <th id="searchTable_rooms">Available Rooms</th>
                    </tr>
                    </thead>
                    <tbody id="roomContainer">
                        <tr>
                            <td><i>Enter a search</i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include('includes/footer.ejs') %>

<script>
    $("#classSearch").on("click", function() {
        $.ajax({
            url:"/chart/freeClassrooms",
            type:"GET",
            dataType: "json",
            data: {
                startTime: $('#startTime').val(),
                endTime: $('#endTime').val(),
                weekDay: $('#daySelect').val(),
                building: $('#buildingSelect').val()
            },
            contentType: "application/json",
            success: function(result) {
                $("#roomContainer").html("");
                result.forEach(room => {
                    $("#roomContainer").append(`<tr><td>${$('#buildingSelect').val()} ${room}</td></tr>`);
                });
            }
        });
    });
</script>
