<%- include('includes/header.ejs') %>

    <div class="jumbotron jumbotron-fluid bg-primary text-light">
        <div class="container text-center">
            <h1 class="display-2">Moc Meetup</h1>
            <p>Find the class-free times for your target audience!</p>
        </div>
    </div>
    <div class="container">
        <p class="text-center">
            Thank you for using Moc Meetup! If there is anything you would like to propose
            or critique to make this tool better, please let us know!
        </p>
        <!-- On submit use an ajax call to get all classes from the preset chosen, which the user can then dynamically add to-->
        <form action="/feedback" method="POST">
            <div class="row py-3 justify-content-center">
                <div class="col-10">
                    <input type="email" id="email" class="form-control my-1" name="email" placeholder="Enter your email" required/>

                    <textarea id="feedback" class="form-control my-1" name="feedback" rows="5" placeholder="Thank you for your feedback!" required></textarea>
                </div>
            </div>
            
            <!-- Submit!-->
            <div class="row justify-content-around py-4 border-bottom border-primary">
                <input class="btn-primary form-control col-md-2 col-3" type="submit" value="Search" />
            </div>
        </form>
    </div>

<%- include('includes/footer.ejs') %>
