<%- include('includes/header.ejs') %>

    <div class="jumbotron jumbotron-fluid bg-primary text-light">
        <div class="container text-center">
            <h1 class="display-2">Moc Meetup</h1>
            <p>Find the class-free times for your target audience!</p>
        </div>
    </div>
    <div class="container">
        <p class="text-center text-success">
            Thank you!
        </p>
    </div>

<%- include('includes/footer.ejs') %>
