<html>
<head>
    <title>UTC Classes</title>
    <meta http-equiv="Cache-Control" content="no-store" />
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
    <script src="https://connectors.tableau.com/libs/tableauwdc-2.3.latest.js" type="text/javascript"></script>
    <script src="/javascripts/webdataconnector.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="text-center col-4">
                <h2>Moc Meetup Class Search</h2>
                <p>
                    This is the public API Web Data Connector for Moc-Meetup!<br>
                    Make your own tableau documents using this data endpoint!
                </p>
                <button type="button" id="submitButton" class="btn btn-success m-2">Get Class Data!</button>
            </div>
        </div>
    </div>
</body>
</html>
