// Our Custom sass code
// Blue = #2176AE and #57B8FF (buttons + page content)
// Yellow = #B66D0D and #FBB136 (magnifying glass + navbar)
$theme-colors: (
  "primary": #066db1,
  "info": #57B8FF,
  "secondary": #B66D0D,
  "warning": #FBB136,
  
);

@import "../../node_modules/bootstrap/scss/bootstrap";

container {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.invisble {
  display:none
}

.classBox {
  min-height:56px;
  max-height:250px;
  overflow:scroll;
  overflow-y:scroll;
  overflow-x:hidden;
}

.text-shadow {
  text-shadow: 0px 0px 4px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}